# reCAPTCHA v3
VITE_RECAPTCHA_SITE_KEY=6LeSAOAsAAAAAF1t4-Dvqjij0IJ7_OS3nT7Q556I

# EmailJS
VITE_EMAILJS_PUBLIC_KEY=w0GiVe8V5k_sHZYwU
VITE_EMAILJS_SERVICE_ID=service_3o7wsxl
VITE_EMAILJS_TEMPLATE_ID=template_31vea09

# Backend Server (production)
VITE_API_URL=http://localhost:3001

# Server only
RECAPTCHA_SECRET_KEY=6LeSAOAsAAAAAPbdoBR_sWLpTiuFWH0BgSnuYpWc
PORT=3001
