@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default font: Montserrat Light */
@layer base {
  body {
    @apply font-light;
  }
  
  html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@layer components {
  .animate-slideUp {
    animation: slideUp 0.3s ease-out;
  }
}
